@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

:root {
    --primary-color: #d7436f;
    --primary-light-color: #ffa5e0;
    --secondary-color: #e4e8ee92;
    --third-color: #f3d52e;
    --fourth-color: rgb(15, 148, 71);
    --background-color: #f5f5f5;
    --text-color: #333;
    --border-radius: 0.8rem;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

main, body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 900px) {
    .hero-img {
        display: none;
    }
    .disposable {
        display: none !important;
    }
}


nav {
    background-color: var(--third-color);
    color: white;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    padding-inline: 1rem;
    font-weight: bold;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

nav img {
    border-radius: var(--border-radius);
}

nav ul {
    display: flex;
    font-weight: bold;
    list-style: none;
    gap: 2.5rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    padding-inline: 1.4rem;
}

nav ul li {
    position: relative;
    cursor: pointer;
    color: white;
}

nav ul li:after {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 0;
    height: 0.2rem;
    bottom: -0.3rem;
    left: 0;
    transition: all 0.4s;
}

nav ul li:hover:after {
    transition: all 0.4s;
    width: 100%;
}

@media (max-width: 700px) {
    nav ul, .commander {
        display: none !important;
    }
}

@media (min-width: 700px) {
    .menu {
        display: none !important;
    }
}

img {
    outline: 2px solid black;
    outline-offset: -2px;
}

.btn-light {
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-light-color);
    width: fit-content;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: all 0.6s;
}
.add-to-cart {
    background-color: var(--primary-color);
    margin-top: 1rem;
    font-weight: bold;
    font-size: 3rem !important;
    color: white;
    padding: 0.8rem;
    border-radius: 100px;
    width: fit-content;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: all 0.6s;
    position: relative;
    left: calc(100% - 3rem);
}
.btn-light-small {
    border-radius: 100px !important;
    font-size: 1.3rem !important;
}
.btn {
    background-color: black;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 100px;
    width: fit-content;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: bold;
    transition: all 0.6s;
}

button:hover {
    transform: scale(1.06);
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.btn-2 {
    font-weight: initial !important;
    font-size: 1.2rem;
}

.btn-3 {
    font-weight: initial !important;
    font-size: 1rem;
}

.hero {
    display: flex;
    gap: 1rem;
}

.hero-section {
    padding: 1.2rem;
    border-radius: var(--border-radius);
    background: url("src/pattern-6.png"), var(--fourth-color);
    background-size: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section h1 {
    font-size: 3.4rem;
    font-weight: bolder;
    padding-bottom: 2rem;
}

.hero-img {
    border-radius: var(--border-radius);
    width: 25rem;
    height: auto;
}

.hero-secondary {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 700px) {
    .hero-secondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .card {
        max-width: 28rem;
        width: 100%;
    }
}

.card {
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    padding-top: 2rem;
    flex-basis: 22rem;
    flex-shrink: 0;
}

.card img {
    height: 12rem;
    width: 100%;
}

.card-info {
    background-color: white;
    position: relative;
    border-radius: 0.2rem;
    font-weight: bold;
    margin: 0.3rem;
    padding: 0.5rem;
}
.card-info .product-type {
    background: rgba(211, 211, 211, 0.503);
    margin-top: 0.3rem;
    width: fit-content;
    padding: 0.4em;
}
.card-info img{
    outline: none !important;
    width: 100%;
    height: auto;
    max-width: 12rem;
}
.card-info .product-options {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    width: fit-content;
    padding: 0.4em;
}
.card-info .product-options span{
    color: rgb(71, 174, 214);
}
.card-info p {
    line-height: 1.5rem;
}
.card-info span {
    font-weight: bold;
}

.card-info h2 {
    font-size: 2rem;
}

.card:nth-child(2) {
    background-color: var(--third-color);
}

.card-title {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}

.recommanded {
    border-radius: 100px;
    padding-block: 0.5em;
    font-size: 0.8rem;
    width: fit-content;
    padding-inline: 1em;
    background-color: rgb(194, 172, 48);
    color: white;
}

.hero-secondary-info {
    border-radius: var(--border-radius);
    color: black;
    background: url("src/pattern-6.png"), var(--third-color);
    background-size: 200px;
    padding-inline: 1rem;
    padding-block: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.hero-secondary-info h2 {
    font-size: 2rem;
}
.title{
    color: var(--primary-color);
    font-size: 2.3rem;
    font-weight: bold;
    padding-block: 0.3rem;
}
.hero-secondary-info p {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.hero-secondary-info img {
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 20rem;
}

.card-2 {
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    flex-grow: 1;
    transition: all 0.3s;
}

.card-2 img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 14rem;
    width: 100%;
}

.card-2 .card-info {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--secondary-color);
}
.card-2 .add-to-cart {
    color: white !important;
    left: calc(100% - 4rem);
    margin-bottom: 1rem;
}
.card-2 .card-info span {
    font-weight: bold;
}

.card-2 .card-info h2 {
    font-size: 2rem;
}

.card-2:hover {
    transform: scale(1.03);
    transition: all 0.3s;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.25);
}

.products-new article, .products-best-sellers article {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.products-new article span:nth-child(1), .products-best-sellers article span:nth-child(1) {
    color: gray;
}

.products-header {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
}

.products-header h1 {
    font-size: 2rem;
    text-align: center;
}

.reviews {
    background: url("src/pattern-6.png"), var(--third-color);
    background-size: 200px;
    padding: 1rem;
    border-radius: var(--border-radius);
    padding-bottom: 2rem;
}

.reviews h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.reviews-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 20rem;
    text-align: center;
}

.review-card img {
    border-radius: 100px;
    width: 8rem;
}

.review-card h3 {
    font-size: 1.5rem;
}

.review-card p {
    line-height: 1.5rem;
}

@media (max-width: 700px) {
    .infos {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .about-img {
        display: none;
    }
}

.infos {
    display: flex;
    gap: 1rem;
}

.infos div {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--border-radius);
}

.infos div span {
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 100px;
}

.about {
    display: flex;
    gap: 1rem;
}

.about img {
    width: 30rem;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
}

.about div {
    background: url("src/pattern-6.png"), var(--fourth-color);
    background-size: 200px;
    color: white;
    border-radius: var(--border-radius);
    padding: 2rem;
}

.about div h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.about div p {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

a {
    all: unset;
}

.contact {
    border-radius: var(--border-radius);
    color: white;
    background: url("src/pattern-6.png"), var(--primary-color);
    background-size: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.contact form {
    width: 100%;
    max-width: 26rem;
}

.contact form label {
    font-weight: bold;
    width: fit-content;
}

.contact form button {
    width: 100%;
    display: block !important;
    text-align: center;
    padding-block: 1rem;
    font-size: 1.1rem;
}

.contact form input, .contact form select, .contact form textarea {
    font-family: "Radio Canada Big", sans-serif;
    padding: 0.6rem;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid gray;
}

footer {
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

footer .s0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
@media (max-width: 1000px) {
    .s0{
        flex-wrap: wrap;
    }
}
footer .s1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 20rem;
}

footer .copyright {
    font-size: 0.8rem;
    margin-top: 2rem;
    text-align: center;
}

footer .s2 h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

footer .s2 p {
    padding-bottom: 0.3rem;
}

.socials {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.socials img {
    outline: none !important;
}